.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navBtn {
  font-size: 4vw;
  padding-bottom: 5px;
}

@media screen and (max-width: 1080px) {
  .navBtn {
    font-size: 6vw;
    padding-bottom: 10px;
  }
}

.modalPreview {
  min-width: 60vw;
  min-height: 40vh;
}
.modalPreview .ant-modal-content {
  padding: 10px 0px !important;
}
